/* Universal */
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: "M PLUS 1", sans-serif;
  background-color: #cce1ef;
}

#nav-bar {
  padding: 15px 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
  background-color: #9dc9e9;
}

#logo-text {
  font-size: 4.4em;
  transition:
    transform 0.15s ease-in-out,
    color 0.15s ease-in-out;
  font-family: "Bagel Fat One", system-ui;
  color: #1b5b7e;
}

#logo {
  transition: transform 0.15s ease-in-out;
}

#logo-text:hover {
  cursor: pointer;
  color: #E8F5FD;
}

#logo:hover {
  transform: scale(1.05);
}

.nav-links {
  font-size: 1.2em;
  display: flex;
  gap: 4em;
  padding-right: 1em;
  align-items: center;
}

.link {
  text-decoration: none;
  transition: transform 0.15s ease-in-out;
  color: #1b5b7e;
}

.link:hover {
  transform: scale(1.05);
  color: #E8F5FD;
}

#logout-btn {
  padding: 8px 10px;
  border-radius: 15px;
  background-color: #cce1ef;
 }

 #logout-btn:hover {
    background-color: #1b5b7e;
 }

#footer {
  display: flex;
  align-items: center;
  padding: 10px 25px;
  gap: 5em;
  background-color: #9dc9e9;
}

#footer-links {
  display: flex;
  gap: 5em;
  align-items: center;
}

/* Home Page */
#container-home {
  display: flex;
  /* TEMP HEIGHT, REMOVE AFTER TEST */
  height: 625px;
  padding: 0 25px;
}
