body {
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  font-family: "M PLUS 1", sans-serif;
}

#logo {
  font-size: 4.5em;
  transition: transform 0.2s ease-in-out;
}

#logo:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.link {
  text-decoration: none;
  color: black;
}

.nav-links {
  font-size: 1.6em;
  display: flex;
  gap: 1.5em;
  padding-right: 1em;
}

.nav-links :link:hover {
  transition: transform 0.2s ease-in-out;
  transform: scale(1.1);
}

#nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}
